
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel='stylesheet' href='~/anexos/css/bootstrap.min.css'>
    
    <title>Formatos de Solicitudes para el área de Informática</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3"><img src="~/anexos/images/logohra.png" width="100%"></div>
            <div id="titulo" class="col-xs-6 col-sm-6 col-md-6">Formato de Solicitudes</div>
            <div class="col-xs-3 col-sm-3 col-md-3"><img src="~/anexos/images/logo_gra.png" width="100%"></div>
        </div>
        <div class="row">
            <div class="col col-md-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Solicitud</th>
                            <th scope="col">Formato</th>
                            <th scope="col">Ejemplo</th>
                            <th scope="col">Requisitos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="vertical-align:middle;">Creación usuario Galenhos</td>
                            <td>
                                <a href="~/formatos/sisgalenplus_formato.doc" >
                                    <img src="~/assets/img/word1.png" style="width:50px" />
                                </a>
                            </td>
                            <td style="vertical-align:middle">
                                
                            </td>
                            <td>* Solicitado por el Jefe de Servicio, unidad u Oficina</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Creación usuario SIAF</td>
                            <td>
                                <a href="~/formatos/siaf_formato.docx" >
                                    <img src="~/assets/img/word1.png" style="width:50px" />
                                </a>
                            </td>
                            <td style="vertical-align:middle">
                                
                            </td>
                            <td>* Solicitado por el Jefe de Servicio, unidad u Oficina</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Creación usuario SIGA</td>
                            <td>
                                <a href="~/formatos/siga_formato.docx" >
                                    <img src="~/assets/img/word1.png" style="width:50px" />
                                </a>
                            </td>
                            <td>
                               
                            </td>
                            <td>* Solicitado por el Jefe de Servicio, unidad u Oficina</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Copia de Cámaras de Video Vigilancia</td>
                            <td>
                                <a href="~/formatos/camaras_formato.docx" >
                                    <img src="~/assets/img/word1.png" style="width:50px" />
                                </a>
                            </td>
                            <td>
                                <a href="~/formatos/camaras_ejemplo.pdf" target="_blank">
                                    <img src="~/assets/img/pdf1.png" style="width:70px" />
                                </a>
                            </td>
                            <td>* Solicitado por el Jefe de Servicio, unidad u Oficina</td>
                        </tr>
                        <tr>
                            <td>Acceso a Wifi</td>
                            <td>
                                <a href="~/formatos/wifi_formato.docx" >
                                    <img src="~/assets/img/word1.png" style="width:50px" />
                                </a>
                            </td>
                            <td>
                                <a href="~/formatos/wifi_ejemplo.pdf" target="_blank">
                                    <img src="~/assets/img/pdf1.png" style="width:70px" />
                                </a>
                            </td>
                            <td>* Solicitado por el Jefe de Servicio, unidad u Oficina</td>
                        </tr>

                    </tbody>
                </table>
            </div>


        </div>
    </div>
    @*<script src="~/assets/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="~/assets/bootstrap.min.js"></script>*@
</body>
</html>
